@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Mulish;
}

body{
    background-color: #191e25;
}

/* THIS CODE IS WRITTEN WADKAR_MS */

#container{
    margin: auto;
    margin-top:55px;
    padding: 30px;
    background-color: #49505a;
    height: 450px;
    width: 450px;
    border-radius: 10px;
}

#container>#logo{
    height: 50px;
    width: 50px;
    background-color: #3c4045;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#container>#heading{
    margin-top: 40px;
    height: 50px;
}

#container>#heading>h2{
    font-size: 35px;
    color: white;
}

#container>#para{
    height: 100px;
    margin-top: 30px;
    color: white;
}

#container>#circle{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0px;
}
#container>#circle>#num{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #5c6777;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#container>#btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

#container>#btn>button{
    height: 40px;
    width: 400px;
    background-color: #FFBF00;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
}